body, html{
    background-color: #ffd1e3;
    color: white;
}

.header{
    background-color: #0B0B0B;
}

.lateral{
    background-color: #0B0B0B; 
    width: 10%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.lateral .navbar-lateral{
    display: flex; 
    align-items: center; 
    flex-direction: column;
}

.dashboard{
    width: 100%;
}

.dashboard .container{
    width: 97%;
}

.dashboard .container .fundo-branco{
    background-color:#f8f8f8; 
    width: 100%;
    display: flex; 
    align-items: center; 
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.dashboard .container .fundo-branco .box-cinza{
    display: flex; 
    justify-content: center;
}

.fundo-branco .box-cinza .fundo-cinza{
    background-color:#131313; 
    display: flex;
    justify-content: center; 
    width: 100%; 
    margin: 27px; 
    border-radius: 20px;
}

.fundo-cinza .fundo-cinza-elementos{
    width: 90%; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin: 30px;
}

.fundo-cinza .fundo-cinza-elementos .textoComoJogar{
    font-size: 17px;
}

.fundo-cinza .fundo-cinza-elementos .span_rosa{
    color: #DD3A88;
}

.box-cinza .jogar{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 88%;
}

.jogar .jogar-elementos{
    width: 70%;
}

.jogar .jogar-elementos .texto_jogar_logo{
    display: flex; 
    justify-content: center;
}

.texto_jogar_logo .span_logo{
    font-size: 48px; 
    font-weight: bold; 
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.texto_jogar_logo .span_logo_rosa{
    font-size: 48px; 
    font-weight: bold; 
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: #DD3A88;
}

.jogar .jogar-elementos .texto_jogar_Dvt{
    display: flex; 
    justify-content: center; 
    margin-top: 18px;
    text-shadow: -1px -1px 0 #e794bd, 1px -1px 0 #e794bd, -1px 1px 0 #e794bd, 1px 1px 0 #e794bd;
}

.texto_jogar_Dvt .span_titulo{
    font-size: 27px;
    color: black;
}

.jogar .jogar-elementos .texto_jogar{
    display: flex; 
    justify-content: center;
    margin-top: 10px;
}


.texto_jogar .span_jogar{
    font-size: 18px;
    color: #0B0B0B;
}

.botao_jogar_dash{
    display: flex;
    justify-content: center;
}

.btn-jogar{
    background-color: #DD3A88;
    color: white;  
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 30px;
    width: 124px; 
    height: 28px; 
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

/*Graficos*/

.dashboard .fundo{
    display: flex; 
    border-radius: 20px;
}


.fundo .graficoBarra{
    background-color: #f8f8f8; 
    width: 100%; 
    margin: 20px; 
    border-radius: 20px;
}

#myChart{
    position: relative;
    height: 13vh; 
    width: 30vw;
}

.hello{
    width: 500px;
    margin-left: 10px;
}

.dash{
    display: flex;
}


/* Dashboard nacional */

.dashboard-dash{
    width: 100%;
    margin-top: 50px;
}

.box{
    display: flex; 
    justify-content: space-evenly;
    width: 100%;
}

.analistic-grafico{
    display: flex; 
    flex-direction: column; 
    width: 60%;
}

.box-analistic{
    display: flex; 
    justify-content: space-around; 
    width: 100%;
}

.fundo-analistic{
    background-color: white; 
    width: 30%; 
    height: 150px; 
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.box-grafico-linha{
    display: flex; 
    justify-content: center; 
    margin-top: 50px;
}

.fundo-grafico-linha{
    width: 97%; height: 330px; 
    background-color: white; 
    margin-bottom: 16px; 
    border-radius: 10px;
}

.fundo-grafico-bola{
    background-color: white; 
    width: 30%; 
    height: 530px; 
    border-radius: 10px;
}
  






