body{
    background-color: #ffd1e3;
    color: white;
}

.header{
    background-color: #0B0B0B;
}

.lateral{
    background-color: #0B0B0B; 
    width: 140px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.lateral .navbar-lateral{
    display: flex; 
    align-items: center; 
    flex-direction: column;
}

.dashboard .container .fundo-branco{
    background-color:#f8f8f8; 
    display: flex; 
    align-items: center; 
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.dashboard .container .fundo-branco .box-cinza{
    display: flex; 
    justify-content: center;
}

.fundo-branco .box-cinza .fundo-cinza{
    background-color:#131313; 
    display: flex; 
    justify-content: center; 
    width: 100%; 
    margin: 20px; 
    border-radius: 20px;
}

.fundo-cinza .fundo-cinza-elementos{
    width: 75%; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin: 30px;
}

.fundo-cinza .fundo-cinza-elementos .textoComoJogar{
    font-size: 14px;
}

.fundo-cinza .fundo-cinza-elementos .span_rosa{
    color: #DD3A88;
}

.box-cinza .jogar{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 88%;
}

.jogar .jogar-elementos{
    width: 80%;
}

.jogar .jogar-elementos .texto_jogar_logo{
    display: flex; 
    justify-content: center;
}

.texto_jogar_logo .span_logo{
    font-size: 48px; 
    font-weight: bold; 
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.texto_jogar_logo .span_logo_rosa{
    font-size: 48px; 
    font-weight: bold; 
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: #DD3A88;
}

.jogar .jogar-elementos .texto_jogar_Dvt{
    display: flex; 
    justify-content: center; 
    margin-top: 18px;
    text-shadow: -1px -1px 0 #e794bd, 1px -1px 0 #e794bd, -1px 1px 0 #e794bd, 1px 1px 0 #e794bd;
}

.texto_jogar_Dvt .span_titulo{
    font-size: 27px;
    color: black;
}

.jogar .jogar-elementos .texto_jogar{
    display: flex; 
    justify-content: center;
    margin-top: 10px;
}


.texto_jogar .span_jogar{
    font-size: 14px;
    color: #0B0B0B;
}

.botao_jogar_dash{
    display: flex;
    justify-content: center;
}

.btn-jogar{
    background-color: #DD3A88;
    color: white;  
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 30px;
    width: 124px; 
    height: 28px; 
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

/*Graficos*/

.dashboard .fundo{
    display: flex; 
    border-radius: 20px;
}

.fundo .graficoBola{
    background-color: #f8f8f8; 
    width: 50%; 
    margin: 20px; 
    border-radius: 20px;
    display: flex;
}

.graficoBola .grafico_b{
    width:205px; 
    margin-left: 40px;
}

.fundo .graficoBarra{
    background-color: #f8f8f8; 
    width: 50%; 
    margin: 20px; 
    border-radius: 20px;
}

.hello{
    width: 500px;
    margin-left: 10px;
}

.dash{
    display: flex;
}




.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items:center ;
}

/* Estilo para o conteúdo do modal */
.modal-content {
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #DD3A88;
    width: 50%;
    border-radius: 10px;
}

/* Estilo para o botão de fechar o modal */
.close {
    color: #DD3A88;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#gifComecar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 70%; /* Ajuste a largura conforme necessário */
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    display: none; /* Inicialmente escondido */
    z-index: 1000; /* Garante que está acima dos outros elementos */
}

/* Estilo para o modal */

.modal .modal-informacao{
    display: flex; 
    align-items: center; 
    flex-direction: column;
}

.modal .box-fotoEscolhe{
    display: flex; 
    justify-content: center;
}

.modal .box-fotoEscolhe .fundo-fotoEscolhe{
    display: flex; 
    flex-direction: column; 
    background-color: black; 
    width: 80%; 
    height: 240px; 
    border: 2px solid #DD3A88; 
    border-radius: 20px; 
}

.modal .box-fotoEscolhe .fundo-fotoEscolhe .fileira-fotoEscolhe{
    display: flex; 
    justify-content: space-evenly;
}

.modal .box-fotoEscolhe .fundo-fotoEscolhe .fileira-fotoEscolhe .fotoEscolhe{
    width: 70px; 
    height: 70px; 
    background-color: #BEA0F0; 
    border-radius: 100px;
}

.modal .box-fotoEscolhe .fundo-fotoEscolhe .fileira-fotoEscolhe .fotoEscolhe .imgFotoPerfil{
    width: 70px; 
    height: 70px;
}

.modalErro{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
