* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0px;
    color: white;
}

.lifeMusic {
    font-size: 20px;
}

.logo {
    width: 70px;
}


.itens {
    width: 80%;
}


.fundo-nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 52px;
}

.header .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
}

.header .container .logo {
    font-size: 34px;
}

.header .container .home {
    font-size: 17px;
    color: white;
    margin-right: 20px;
}

.container a {
    text-decoration: none;
    color: white;
}

.header .nav .nickname {
    color: white;
    font-size: 16px;

}

.header .nav .foto-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #DD3A88;
}

.header .container button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DD3A88;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid #DD3A88;
    width: 80px;
    height: 25px;
}

.inputs .container .msgErro {
    font-size: 11px;
    color: red;
    width: 305px;
    margin: 0px;
}


.footer {
    background: #000;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
    margin-top: 150px;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}


.footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }