*{
    font-family: 'Kavoon';
}

body{
    margin: 0px;
    color: white;
}

.logo{
    width: 70px;
}

.header{
    border-radius: 0px 0px 40px 40px;
}

.itens{
    width: 80%;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 52px;
}

.header .nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
}

.header .container .logo{
    font-size: 34px;
}

.header .container .home{
    font-size: 15px;
    color: white;
}

.container a{
    text-decoration: none;
    color: white;
}

.header .nav .nickname{
    color: white;
    font-size: 16px;

}

.header .nav .foto-perfil{
    width: 40px; 
    height: 40px;
    border-radius: 50px;
    background-color: #DD3A88;
}

.header .container button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DD3A88;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid #DD3A88;
    width: 80px;
    height: 25px;
}

.inputs .container .msgErro{
    font-size: 11px; 
    color: red; 
    width: 305px; 
    margin: 0px;
}
