body{
    background-color: #0B0B0B;
}

.perguntas{
    margin-top: 10px;
}


.titulo{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 31px;
}

.rodada{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
}

.temporizador{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 17px;
}


.resposta{
    display: flex;
    justify-content: center;
}



.resposta .container .box{
    margin-top: 50px;
}


.btn-resposta{
    margin-left: 30px;
    margin-right: 30px;
    background-color: black;
    color: black;
    border: 1px solid #DD3A88;
    border-radius:10px; 
    width: 290px;
    height: 66px;
    font-size: 15px;
}

.btn-voltar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 30px;
    background-color: #ca156c;
    border-radius:7px;
    color: white;
    margin-right: 90px;
    font-size: 15px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.btn-comecar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 30px;
    background-color: #ca156c;
    border-radius:7px;
    color: white;
    margin-left: 90px;
    cursor: pointer;
    font-size: 15px;
}


.perguntas .fundo-claro .sub-titulo{
    margin-top: 1px;
    display: flex;
    justify-content: center;
    font-size: 23px;
}



.gif-Comecar {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;
    border-radius: 10px;
}