body{
    background-color: black;
}

.tabela-rakend{
    border-collapse: collapse; 
    width: 95%;
}

.tabela-rakend .linha-table{
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}