*{
    font-family: 'Kavoon';
}

body{
    margin: 0px;
    color: white;
}

.logo{
    width: 260px;
}

.header{
    background-color: #1B1B1B;
    border-radius: 0px 0px 40px 40px;
}

.nav{
    width: 80%;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 62px;
}

.header .nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
}

.header .container .logo{
    font-size: 34px;
}

.header .container .home{
    font-size: 17px;
    margin-right: 30px;
    margin-left: 200px;
    color: white;
}

.container a{
    text-decoration: none;
    color: white;
}

.nickname{
    color: white;
    font-size: 30px;
    margin-right: 20px;
}

.header .nav .foto-perfil{
    width: 40px; 
    height: 40px;
    border-radius: 50px;
    background-color: #DD3A88;
}

.header .container button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B;
    color: white;
    font-size: 17px;
    border-radius: 10px;
    border: 2px solid #DD3A88;
    width: 100px;
    height: 30px;
}

.inputs .container .msgErro{
    font-size: 11px; 
    color: red; 
    width: 305px; 
    margin: 0px;
}

.input_pesquisar{
    background-color: #1B1B1B;
    border: 2px solid #DD3A88;
    border-radius: 10px;
    width: 500px;
    height: 20px;
    color: white;
    margin-left: 100px;
    font-size: 10px;
}

